.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 153px 20px;
}
.main-page{
  padding: 0;
}
.heading-title{
  margin: 35px 0 15px;
}
.list-person{
  margin-bottom: 36px;
}
.card{
  position: relative;
  width: 300px;
  height: 240px;
  padding: 0;
  margin: 5px 10px;
  flex-basis: initial;
  flex-grow: initial;
  .card-body{
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 30px 16px 20px;
  }
}
.card-pic{
  width: 100%;
  height: 100%;
  z-index: 0;
}
.group-login-signup{
  position: absolute;
  top: 20px;
}
.header__name-brand{
  margin-bottom: 26.5px;
}
.header__title{
  margin-bottom: 5.5px;
}
.header__para{
  margin-bottom: 15px;
}
.partner{
  margin: 0 10px;
  text-align: center;
}
.holiday-ideas-wrap{
  margin: 0 10px;
}
.interest{
  margin: 25px 0 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: stretch;
}
.list-feature{
  margin: auto;
}
.foot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 19px 20px 22px;
  .foot__name-brand{
    margin-bottom: 13px;
  }
  .foot__list{
    text-align: center;
    margin-bottom: 6px;
    .list__item{
      display: inline-block;
      padding: 0 5px;
    }
  }
  .foot__design{
    margin: 14px 0 7px;
  }
}
@media (min-width: 768px){
  .heading-title{
    margin: 94px 0 35px;
  }
  .header{
    padding: 224px 149px;
    .group-login-signup{
      top: 40px;
      right: 50px;
    }
    .header__name-brand{
      position: absolute;
      top: 46px;
      left: 48px;
    }
    .header__title{
      font-size: 52px;
      line-height: 63px;
      margin-bottom: 28.5px;
    }
    .header__para{margin-bottom: 33px}
  }
  .card{
    width: 236px;
    height: 400px;
  }
  .button-aLine{
    width: auto;
  }
  .holiday-ideas-wrap{
    margin: 0;
    .list-feature{
      width: 748px;
    }
    .feature{
      padding: 10px;
      margin: 0;
      .feature__pic{
        height: 310px;
      }
    }
  }
  .list-person{
    padding: 0 133px;
  }
  .interest{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 94px 0 100px;
    .interest__input{
      margin:0 10px 0 0;
    }
    .interest__button{
      margin:0;
    }
    .interest__tittle{
      flex: 100%;
    }
    .interest__para{
      margin-bottom: 25px;
      flex: 100%;
    }
  }
  .foot{
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
    padding: 36px 37px 20px 39px;
    .foot__design{
      margin: 0 0 7px 0;
    }
    .foot__list{
      text-align: left;
      .list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .list__item{
          padding: 0;
        }
      }
    }
    .author{
      text-align: right;
    }
  }
}
@media (min-width: 1440px){
  .holiday-ideas-wrap .list-feature{
    width: 940px;
  }
  .main-page{
    padding:0 250px;
  }
  .list-person{
    padding: 0;
  }
  .card{
    width: 300px;
    height: 400px;
  }
  .foot{
    padding: 36px 17.3vw 20px;
  }
}

