@import 'header';
@import 'main';
@import 'footer';
.partner{
  padding: 0 20px;
  text-align: center;
}
.holiday-ideas-wrap{
  margin: 0 10px;
}
.holiday__title{
  margin-right: 10px;
  margin-left: 10px;
}
.list-feature{
  margin: auto;
}
@media (min-width: 768px){
  .heading-title{
    margin: 94px 0 35px;
  }
  .main-page{
    max-width: 960px;
  }
  .foot{
    max-width: 960px;
  }
  .header{
    padding: 224px 149px;
    .group-login-signup{
      top: 40px;
      right: 50px;
    }
    .header__name-brand{
      position: absolute;
      top: 46px;
      left: 48px;
    }
    .header__title{
      font-size: 52px;
      line-height: 63px;
      margin-bottom: 28.5px;
    }
    .header__para{margin-bottom: 33px}
  }
  .card{
    width: 236px;
    height: 400px;
  }
  .button-aLine{
    width: auto;
  }
  .holiday-ideas-wrap{
    margin: 0;
    .feature{
      padding: 10px;
      margin: 0;
      .feature__pic{
        height: 310px;
      }
    }
  }
  .interest{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 94px 0 100px;
    .interest__input{
      margin:0 10px 0 0;
    }
    .interest__button{
      margin:0;
    }
    .interest__tittle{
      flex: 100%;
    }
    .interest__para{
      margin-bottom: 25px;
      flex: 100%;
    }
  }
  .foot{
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
    padding: 36px 37px 20px 39px;
    .foot__design{
      margin: 0 0 7px 0;
    }
    .foot__list{
      text-align: left;
      .list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .list__item{
          padding: 0;
        }
      }
    }
    .author{
      text-align: right;
    }
  }
}
@media (min-width: 1440px){
  .list-person{
    padding: 0;
  }
  .card{
    width: 300px;
    height: 400px;
  }
  .foot{
    width: 960px;
  }
}

